.hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero .bg-image {
    width: 100%;
    position: absolute;
    overflow: hidden;
    filter: brightness(0.6);
    z-index: -1;
}

.hero .bg-image img {
    height: 100vh;
}

.hero .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem
}

.hero .box-wrapper .title {
    font-size: 4rem;
    color: #fff;
}

.hero .title p {
    text-align: center;
    line-height: 4.5rem;
}

.hero .input-box {
    height: 60px;
    width: 90%;
    max-width: 600px;
    /* border: var(--border-black); */
    border-radius: 50px;
    overflow: hidden;
    background-color: #ffffff23;
    transition: 0.2s ease;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    color: #fff;
    transition: 0.3s ease;
}
.hero .input-box:focus-within {
  background-color: #ffffff39; /* lighter background */
  /* box-shadow: 0 0 5px #ffffff3d; glowing effect */
  color: var(--gray-300);
  border-radius: 5px;
  border-bottom: 5px solid var(--gray-300);
}



.hero .input-box input {
    height: 100%;
    width: 80%;
    padding: 10px 0;
    background-color: #ffffff00;
    color: #d8d8d8;
    font-size: 1.2rem;
    border: none;
}

.hero .input-box input::placeholder {
    color: #d8d8d8;
}

.hero .input-box p{
    height: 100%;
    font-size: 1.2rem;
    color: #fff;
    /* border: var(--border-black); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .input-box .icon {
    width: 50px;
}