.navbar {
    /* border: 1px solid black; */
    height: 80px;
    width: 100%;
    /* position: absolute;
    position: fixed; */
    z-index: 999;
    /* background-color: #0000001e; */
}

.navbar .container {
    max-width: 1200px;
    height: 100%;
    display: flex;
    margin: auto;
}

.navbar .nav-links {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar .link {
    display: block;
    /* border: 1px solid black; */
    cursor: pointer;
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 0 20px;
    color: aliceblue;
}

.navbar .nav-links:hover {

}

